@model Categories
<div class="card shadow mt-4">
    <div class="card card-header bg-secondary bg-gradient">
        <div class="row text-center">
            <h2 class="text-light">Create Category</h2>
        </div>
    </div>
    <div class="card card-body">
        <form method="post">
        @*<div asp-validation-summary="ModelOnly"></div>*@
            <div class="form-floating m-3">
                <input asp-for="Name" class="form-control" />
                <label asp-for="Name"></label>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-floating m-3">
            
                <input asp-for="DisplayOrder" class="form-control" />
                <label asp-for="DisplayOrder"></label>
                <span asp-validation-for="DisplayOrder" class="text-danger"></span>
            </div>

            <div class="form-floating row m-1">
                <div class=" col-6 col-md-3">
                    <button type="submit" class="btn btn-primary form-control">Create</button>
                </div>
                <div class="col-6 col-md-3">
                    <a asp-page="/categories/index" class="btn btn-secondary border  form-control">
                        Back to List
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>
