@page
@model BookShop_Razor.Pages.Category.AddCategoryModel

<form method="post">
    <div class="form-group row">
        <h1 class="text-primary">Add category</h1>
        <div class="row">
            <label class="form-label mt-4" asp-for="Category.Name"></label>
            <input class="form-control" asp-for="Category.Name" type="text" aria-label="default input example">
            <span asp-validation-for="Category.Name" class="text-danger"></span>

            <label class="form-label mt-4" asp-for="Category.DisplayOrder"></label>
            <input class="form-control" asp-for="Category.DisplayOrder" type="text" aria-label="default input example">
            <span asp-validation-for="Category.DisplayOrder" class="text-danger"></span>
        </div>
        <div class="row pt-4">
            <div class="col">
                <button type="submit" class="btn btn-primary">Submit</button>
                <a asp-page="/Category/Index" class="btn btn-dark">Back to List</a>
            </div>
        </div>
    </div>
</form>