@page
@model BookShop_Razor.Pages.Category.IndexModel

<div class="row pt-4">
    <div class="col-6">
        <h1 class="text-primary">Categories</h1>
    </div>
    <div class="col-6 text-end">
        <a asp-page="/Category/Create" class="btn btn-dark">
        <i class="bi bi-plus"></i> Add Category</a>
    </div>
    <table class="table table-boarder table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Display Order</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var o in Model.CategoryList)
            {
                <tr>
                    <td>@o.Name</td>
                    <td>@o.DisplayOrder</td>
                    <td>
                        <a asp-page="/Category/Edit" asp-route-id="@o.id" class="btn btn-dark"><i class="bi bi-pencil-square"></i>Edit</a>
                        <a asp-page="/Category/Delete" asp-route-id="@o.id" class="btn btn-danger"><i class="bi bi-trash"></i>Delete</a>
                    </td>
                    
                </tr>
            }
        </tbody>
    </table>
</div>
