@model Categories
<form class="">
    <div class="form-group row">
        <h1 class="text-primary">Add category</h1>
        <div class="row">
                <fieldset>
                    <label class="form-label mt-4" ></label>
                    <input class="form-control" id="readOnlyInput" type="text" placeholder="Input here...">
                </fieldset>
                <fieldset>
                    <label class="form-label mt-4"></label>
                    <input class="form-control" id="readOnlyInput" type="text" placeholder="Input here...">
                </fieldset>
        </div>
    </div>
</form>