@model Categories
<div class="card shadow mt-4">
    <div class="card card-header bg-secondary bg-gradient">
        <div class="row text-center">
            <h1 class="text-light">Delete Category</h1>
        </div>
    </div>
    <dic class="card card-body">
        <form method="post">
            <div class="form-floating row m-3">
                <input class="form-control" asp-for="Name">
                <label asp-for="Name"></label>

            </div>
            <div class="form-floating row m-3">
                <input class="form-control" asp-for="DisplayOrder">
                <label asp-for="DisplayOrder"></label>

            </div>
            <div class="form-floating row m-1">
                <div class=" col-6 col-md-3">
                    <button type="submit" class="btn btn-primary form-control">Delete</button>
                </div>
                <div class="col-6 col-md-3">
                    <a asp-page="/categories/index" class="btn btn-secondary border  form-control">
                        Back to List
                    </a>
                </div>
            </div>
        </form>

    </dic>
</div>
